@use './custom'as *;

.billing-fields {
  margin-bottom: 30px;
}

.create-ac-content,
.your-order-payment {
  border: 1px solid #ddd;
  padding: 20px;
}

.login-title {
  font-size: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.order-table {
  .table {
    thead {
      th {
        background-color: #fff;
        font-size: 13px;
        padding: 8px 5px 5px;
        border-bottom: 1px solid #ddd;

        @include media-breakpoint-down(sm) {
          font-size: 11px;
        }
      }
    }

    td {
      font-size: 13px;
      padding: 8px 5px 5px;

      @include media-breakpoint-down(sm) {
        font-size: 10px;
      }
    }

    tfoot {
      font-weight: 600;
    }
  }

}

img {
  max-width: 100%;
}

.order_title {
  font-size: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.estimated {
  font-weight: 700;
  font-size: 17px;

  @include media-breakpoint-down(md) {
    font-size: 13px;
  }

  &-span {
    font-weight: 400 !important;
    margin: 0 7px;
  }
}

.estimate {
  select {
    width: 30%;

    @include media-breakpoint-down(md) {
      width: 50%;
    }
  }
}

.address {
  @include media-breakpoint-down(md) {
    font-size: 10px;

    td {
      padding: 16px 9px;
    }
  }
}
