.page-log-in {
    font-family: Poppins,
        Helvetica,
        Tahoma,
        Arial,
        sans-serif;
    font-size: 13px;
    line-height: 1.5;

    .account {
        color: #0bf00b;
    }
}

.section-header {
    margin-bottom: 35px;
}

.section-header {
    background: #f9f9f9;
    border: 1px solid #e8e9eb;

    h1 {
        text-transform: uppercase;
        margin: 0;
        color: #000;
        padding: 25px 0;
        font-size: 18px;
    }
}

.form-group {
    margin-bottom: 1rem;

    input,
    select {
        height: 40px;
        padding: 0 10px;
        width: 100%;
        font-size: 14px;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        border: 1px solid #d7d7d7;

        :focus-visible {
            border: 1px solid #777070;

        }

    }
}

.btnk {
    font-family: Poppins, Helvetica, Tahoma, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: normal;
    white-space: normal;
    font-size: 13px;
    background-color: #000;
    color: #ccc;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 8px 10px 8px;
}