@use './custom'as *;

body {
  padding-left: 0;
  padding-right: 0;
  font-family: Poppins,
    Helvetica,
    Tahoma,
    Arial,
    sans-serif !important;
  font-size: 13px !important;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: #555555;

    &:hover {
      color: #555555;

    }

  }
}

.start {
  padding-left: 0;
  padding-right: 0;
  font-family: Poppins,
    Helvetica,
    Tahoma,
    Arial,
    sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

#content_quickview {

  .modal {
    top: 8%;
    padding-right: 0 !important;
    overflow: hidden;
  }

  .modal-dialog {
    max-width: 800px;
    background-color: #fff;
    padding: 25px;

    @include media-breakpoint-down(md) {
      padding: 5px;
    }

  }

  .modal-content {
    border: 0;
  }

  .modal-body {
    border: 0;
    padding: 0;
  }

  .model-close-btn {
    width: 30px;
    height: 30px;
    line-height: 32px;
    position: absolute;
    top: -23px;
    right: -20px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;

    @include media-breakpoint-down(md) {
      top: 1px;
      right: 12px;
    }
  }

  .productdetail-img {
    @include media-breakpoint-down(md) {
      width: 110px !important;
      padding: 3px !important;
    }
  }

  .pull-right {
    float: right;
  }

  .productdetail_price {
    @include media-breakpoint-down(md) {
      font-size: 10px !important;
    }
  }
}

.active {
  display: block !important;

}

.modal {
  @include media-breakpoint-down(md) {
    width: 75% !important;
  }
}
